.thirdDiv.ul.li.img{
    width: 400px;
}
.thirdDiv{
    height: 600px;
    width: 500px;
    background-color: red;
    padding: 50px;
    border: 1px solid black;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}

body.h1{
    color: red;
}